# III. DATASET DE Real_Estate

In [159]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# III.1. Chargement du fichier de donn√©es

In [160]:
data = pd.read_csv("Real-estate.csv")

In [161]:
data.head()

,No,X1 date de transaction,X2 age de la maison,X3 distance jusqu'a la gare la plus proche,X4 nombre de supermarket de proximite,X5 latitude,X6 longitude,Y prix de la maison par unite de surface
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [162]:
# Exploration du Dataset(Contient 30 lignes et 2 colone)
data.shape

(414, 8)

In [163]:
# Les colonnes sont: -YersExperience et Salary
data.columns

Index(['No', 'X1 date de transaction', 'X2 age de la maison',
       'X3 distance jusqu'a la gare la plus proche',
       'X4 nombre de supermarket de proximite', 'X5 latitude', 'X6 longitude',
       'Y prix de la maison par unite de surface'],
      dtype='object')

In [164]:
# Ce r√©sultat montre que le Dataset n'a aucune ligne vide
data.isnull()

,No,X1 date de transaction,X2 age de la maison,X3 distance jusqu'a la gare la plus proche,X4 nombre de supermarket de proximite,X5 latitude,X6 longitude,Y prix de la maison par unite de surface
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
409,False,False,False,False,False,False,False,False
410,False,False,False,False,False,False,False,False
411,False,False,False,False,False,False,False,False
412,False,False,False,False,False,False,False,False
413,False,False,False,False,False,False,False,False

In [165]:
data.describe()

,No,X1 date de transaction,X2 age de la maison,X3 distance jusqu'a la gare la plus proche,X4 nombre de supermarket de proximite,X5 latitude,X6 longitude,Y prix de la maison par unite de surface
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [166]:
x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

# III.2. Separation de donn√©es : Training Data et Test Data

In [167]:
# Pour cat√©goriser les donn√©es en donn√©es de d'entrainement et donn√©es de test
from sklearn.model_selection import train_test_split

In [168]:
#x_train, x_test, y_train, y_test
x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size=0.2, random_state=30)

In [169]:
# Affichage de dimension pour les donn√©es d'entrainement
print("x train:", x_train.shape)
print("y train:", y_train.shape)

x train: (331, 7)
y train: (331,)

In [170]:
# Affichage de dimension pour les donn√©es de test
print("x test:", x_test.shape)
print("y test:", y_test.shape)

x test: (83, 7)
y test: (83,)

# III.3. Cr√©ation du mod√®le

In [171]:
# Appel au mod√®le de Regression lin√©aire
from sklearn.linear_model import LinearRegression

In [172]:
# Cr√©ation du mod√®le
modele_Multilple = LinearRegression()

In [173]:
# Entrainement du mod√®le
modele_Multilple.fit(x_train, y_train)

LinearRegression()

In [174]:
# La prediction se fait sur les donn√©es de test
modele_Multilple.predict(x_test)

array([33.97389466, 41.7214541 , 14.80643721, 42.36615035, 33.40258744,
       28.99981423, 38.70638888, 16.38115933, 44.25027257, 42.71295609,
       37.72570931, 43.21125296, 45.48919408, 42.50189801, 39.79528076,
       47.58523158, 43.0110396 , 44.9097467 , 46.93502065, 28.66823959,
       48.00274186, 29.64366962, 38.24199991, 48.46585091, 33.68215249,
       29.48511949, 42.823265  , 41.87837512, 42.12703259, 42.85540916,
       52.78235794, 48.18370369, 36.83040487, 34.45579034, 33.86066497,
       47.62687243, 32.30983531, 34.05183345, 35.19100801, 49.78177443,
       40.13212149, 45.11929572, 51.54883533, 45.66937114, 47.34615933,
       42.22002736, 37.13726567, 51.32980011, 47.22656436, 39.24118518,
       46.61385073, 37.23007283, 36.58714737, 44.95845975, 45.82108719,
       42.77355905, 53.45056903, 38.60490833, 41.22508586, 48.64889284,
       32.1350321 , 44.17014755, 51.05389153, 24.56183792, 53.92349001,
       47.08787507, 17.16534479, 40.5126958 , 37.89200004, 37.54631163,
       35.14728776, 36.20707403, 28.5677967 , 30.20337698, 41.1501354 ,
       39.24734483, 45.36103039, 40.94173302, 36.14184493, 51.64336967,
       12.88784433, 13.14800452, 46.02596849])

# III.3.1. Evaluation du mod√®le

In [175]:
# Importation des biblioth√®ques et metrics d'√©valuation du mod√®le
from sklearn.metrics import mean_squared_error, r2_score

In [176]:
y_predicted_1r = modele_Multilple.predict(x_test)

In [177]:
mean_squared_error(y_test, y_predicted_1r)

98.1584018415354

In [178]:
r2_score(y_test, y_predicted_1r)

0.4617082740678702